/* app css stylesheet */
/*@font-face {
  font-family: 'Ampersand';
  src : url('../assets/fonts/ampersand.ttf') format('truetype'), !* Safari, Android, iOS *!
}*/
body {
  background-color: #f7f6f2;
  font-family: 'Chathura', sans-serif;
  font-size: 28px; }
  body a {
    color: #4CB050;
    cursor: pointer; }
  body .card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  body .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.nav-link {
  font-size: 45px;
  text-decoration: none; }

.room-container {
  margin-left: auto;
  margin-right: auto;
  /*
  margin-top: 100px;
  */
  width: 1000px;
  height: 800px;
  position: relative; }
  .room-container .hello-message {
    position: absolute;
    top: 20px;
    left: -165px;
    height: 300px;
    width: 257px;
    line-height: 27px;
    z-index: 2; }
    .room-container .hello-message a {
      cursor: pointer; }
  .room-container .nav-link {
    position: absolute;
    bottom: -150px;
    left: -140px;
    z-index: 2;
    color: #ffffff; }
  .room-container .back-wall {
    position: absolute;
    background-color: #ffffff;
    width: 800px;
    height: 600px;
    right: 100px;
    left: 100px;
    top: 0px; }
  .room-container .left-side-wall {
    position: absolute;
    background-color: #f7f6f2;
    position: absolute;
    left: 0px;
    width: 100px;
    height: 100%; }
  .room-container .right-side-wall {
    position: absolute;
    background-color: #f7f6f2;
    right: 0px;
    width: 100px;
    height: 100%; }
  .room-container .floor {
    position: absolute;
    bottom: 100px;
    left: -200px;
    border-bottom: 150px solid #4cb050;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    height: 0px;
    width: 800px; }
  .room-container .roof {
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 50px solid #ffffff;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0px;
    width: 800px;
    /*
    z-index: 1;
    */ }

.items-section {
  position: relative;
  margin: auto;
  width: 800px; }
  .items-section .items-picker {
    display: table;
    padding: 50px;
    width: 100%; }
    .items-section .items-picker .nav-link {
      position: absolute;
      top: 80px;
      left: -160px;
      float: left;
      color: #000000; }
    .items-section .items-picker .item img {
      height: 100px;
      width: 100px;
      float: left;
      margin: 10px;
      cursor: pointer; }

.stage-container {
  position: relative;
  margin: auto;
  width: 1300px;
  height: 700px; }
  .stage-container .stage {
    z-index: 1;
    background-color: rgba(255, 0, 255, 0);
    position: absolute;
    /*  position: absolute;
      top: 0;
      bottom: 0;
      right: 0px;
      left: 100px;*/ }

.rooms-selection-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.53); }
  .rooms-selection-container .rooms-selection {
    position: relative;
    width: 665px;
    margin: auto;
    margin-top: 100px;
    min-height: 300px;
    max-height: 450px;
    background-color: #ffffff;
    z-index: 101;
    box-shadow: 0px 3px 9px #333;
    padding: 15px;
    overflow-y: auto; }
    .rooms-selection-container .rooms-selection .room-item {
      height: 100px;
      width: 100px;
      float: left;
      margin: 15px;
      cursor: pointer;
      padding: 15px; }
      .rooms-selection-container .rooms-selection .room-item.active {
        background-color: rgba(97, 184, 114, 0.65); }
      .rooms-selection-container .rooms-selection .room-item img {
        height: 100%;
        width: 100%; }

/*.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}*/

/*# sourceMappingURL=app.css.map */
