/*@font-face {
  font-family: 'Ampersand';
  src : url('../assets/fonts/ampersand.ttf') format('truetype'), !* Safari, Android, iOS *!
}*/

body {

  background-color: #f7f6f2;
  font-family: 'Chathura', sans-serif;
  font-size: 24px;

}