.nav-link {
    font-size: 45px;
    text-decoration: none;
}
.room-container {
  .hello-message {
    position: absolute;
    top: 20px;
    left: -200px;
    height: 300px;
    width: 257px;
    line-height: 27px;
    z-index: 2;
    a {
      cursor: pointer;
    }

  }
  .rooms-list {
    position: absolute;
    top: 0px;
    right: -170px;
    line-height: 35px;
    margin: 20px;
    padding: 0px;
    ul {
      list-style-type: none;
      padding: 0px;
      li {
        padding: 0px;
      }
    }

  }
  .nav-link {
    position: absolute;
    bottom:-150px;
    left: -140px;
    z-index: 2;
    color: #ffffff;
  }
  margin-left: auto;
  margin-right: auto;
  /*
  margin-top: 100px;
  */
  width:1000px;
  height: 800px;
  position: relative;
  .back-wall {
    position: absolute;
    background-color: #ffffff;
    width: 800px;
    height: 600px;
    right: 100px;
    left: 100px;
    top:0px;

  }
  .left-side-wall {
    position: absolute;
    background-color: #f7f6f2;
    position: absolute;
    left: 0px;
    width: 100px;
    height: 100%;
  }
  .right-side-wall {
    position: absolute;
    background-color: #f7f6f2;
    right: 0px;
    width: 100px;
    height: 100%;

  }
  .floor {
    position: absolute;
    bottom: 100px;
    left: -200px;
    border-bottom: 150px solid rgb(76, 176, 80);
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    height: 0px;
    width: 800px;
  }
  .roof {
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 50px solid #ffffff;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 0px;
    width: 800px;
    /*
    z-index: 1;
    */
  }

}
.items-section {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  .items-picker {
    display: table;
    width: 800px;
    padding: 50px;
    margin: auto;
    .nav-link {
      position: absolute;
      top:80px;
      left: 180px;
      color: #000000;
    }
    .item {
      img {
        height: 100px;
        width: 100px;
        float: left;
        margin: 10px;
        cursor: pointer;
      }
    }
  }
}
.stage {

  z-index: 1;
  background-color: rgba(255, 0, 255, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: 100px;
  height: 700px;
  width: 1300px;
}
.rooms-selection-container {
  position: fixed;
  top:0px;
  bottom: 0px;
  right: 0px;
  left:0px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.53);
  .rooms-selection {
    position: relative;
    width: 665px;
    margin: auto;
    margin-top: 100px;
    min-height: 300px;
    max-height: 450px;
    background-color: #ffffff;
    z-index: 101;
    box-shadow: 0px 3px 9px #333;
    padding: 15px;
    overflow-y: auto;

    .room-item {
      height: 100px;
      width: 100px;
      float: left;
      margin: 15px;
      cursor: pointer;
      padding: 15px;
      &.active {
        background-color: rgba(97, 184, 114, 0.65);
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}