<stage-renderer class="stage" room-data="roomData">

</stage-renderer>
<div class="room-container">

<!--    <div class="roof">

    </div>-->
    <div class="back-wall">

    </div>
<!--    <div class="left-side-wall">

    </div>
    <div class="right-side-wall">

    </div>-->
    <div class="floor">
        <a class="nav-link" href="#" ng-click="ctrl.scrollToClass('.items-section')"> &darr; Stuff </a>
    </div>

</div>
<div class="items-section">
    <div class="items-picker">
        <a href="#" class="nav-link" ng-click="ctrl.scrollToClass('.room-container')"> &uarr; Go Back Up </a>

        <div ng-repeat="item in ctrl.availableItems" class="item">
            <img ng-src="{{ctrl.storageBasePath  + item.path}}" ng-click="ctrl.addItemToRoom(item)"/>
        </div>
    </div>
</div>

